In [ ]:
#Create own variable and learn python string methods. Two examples of each

In [19]:
Home_work='create own variable and learn variable python string methods'
Work_cost='create own variable and learn string methods for {price:.2f} rupees'
Home_work_caps='CREATE OWN VARIABLE AND LEARN PYTHON STRING METHODS'
Home_work_init='Create Own Variable'
Age_group='25','35','24','56','22'
Temp= '25''43''54'
Friends='     Lalita','Chitra','Raji'

In [5]:
str.capitalize(Home_work[0:6])##Capitalize Converts the first character to upper case

'Create'

In [12]:
str.casefold(Home_work_caps)##	casefold Converts string into lower case

'create own variable and learn python string methods'

In [22]:
var_centre=Home_work[11:19].center(15)##str.center to center print in the value provided
var_upper=var_centre.upper()
print(var_centre)
print(var_upper)

    variable
    VARIABLE

In [12]:
Home_work.count('variable')## counts the number of times the word variable is there in the variable variable

2

In [21]:
##str.encode#encoded version of variable
var_upper.encode()

b'    VARIABLE   '

In [26]:
#str.endswith gives boolean if the ending value is true or false
var_upper.endswith('')
var_upper.endswith('E')

False

In [5]:
exp="V\te\tr\ts\ti\to\tn"##str.expandtabs provides for setting tabvalues.
print(exp.expandtabs())st
print(exp.expandtabs(4))
print(exp.expandtabs(6))
print(exp.expandtabs(10))

V       e       r       s       i       o       n
V   e   r   s   i   o   n
V     e     r     s     i     o     n
V         e         r         s         i         o         n

In [46]:
Home_work.find('python')#find helps find position of value in the variable, if found
Home_work.find('tuple')# find will return -1 value if not found
Home_work.rfind('python')#rfind helps find position of value in the variable, if found
Home_work.find('python')#find helps find position of value in the variable, if found

39

In [44]:
Home_work_init.rindex('Own')#index and rindex, helps find position of value in the variable, if found
Home_work_init.index('Own')

7

In [34]:
Cost=(Work_cost.format(price=0))## helps format a value within a variable
print(Cost)

create own variable and learn string methods for 0.00 rupees

In [35]:
Home_work.index('python')## Like find traces position of value searched in a string

39

In [36]:
Cost.isalnum()# Check if all the characters in the text are alphanumeric:

False

In [50]:
Al='Alphabetvalues'
Al.isalpha() #Returns True if all characters in the string are in the alphabet, spaces
              #not considered as alphabets

False

In [49]:
Ascitrue='Alphabet values%0'##Returns True if all characters in the string are ascii characters
Ascitrue.isascii()

True

In [59]:
a = "\u0033" #unicode for 3 
b = "\u0045" #unicode for G
print(a)
print(b)
print(a.isdecimal())#Check if all the characters in the unicode are numbers:
print(b.isdecimal())

3
E
True
False

In [82]:
Temp.isdigit() ##Returns True if all characters in the string are digits without comma 
               ## and without decimals

True

In [107]:
Plum_cost='Costofplumis20.5rupees'
print(Plum_cost)
Plum_cost.isidentifier()
##A string is considered a valid identifier if it only contains alphanumeric letters (a-z) and (0-9), or underscores (_). 
##A valid identifier cannot start with a number, or contain any spaces.

Costofplumis20.5rupees

False

In [102]:
Home_work_caps.islower() #Returns True if all characters in the string are lower case

False

In [103]:
Temp.isnumeric()#Returns True if all characters in the string are numeric

True

In [105]:
Temp.isprintable()

True

In [113]:
Plum_cost1='   '
Plum_cost1.isspace() ##Check if all the characters in the text are whitespaces:st

True

In [115]:
Home_work_init.istitle()##The istitle() method returns True if all words in a text start 
                        ##with a upper case letter, AND the rest of the word are lower case 
                        ##letters, otherwise False.
                       ##Symbols and numbers are ignored.

True

In [116]:
Home_work_caps.isupper()##Returns True if all characters in the string are upper case

True

In [8]:
Joint = " ".join(Friends)#The join() method takes all items in an iterable and joins them into one string.
##A string must be specified as the separator.
print(Joint)

Lalita Chitra Raji

In [10]:
Three="The Three friends are",Joint.ljust(60,'X')
print(Three)

('The Three friends are', 'Lalita Chitra RajiXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX')

In [12]:
Three="The Three friends are",Joint.rjust(70,'X')
print(Three)

('The Three friends are', 'XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXLalita Chitra Raji')

In [13]:
Home_work_caps.lower()

'create own variable and learn python string methods'

In [15]:
Home_work.upper()

'CREATE OWN VARIABLE AND LEARN VARIABLE PYTHON STRING METHODS'

In [31]:
Friends='Lalita    '
x = Friends.rstrip()
print('My world',x)

My world Lalita

In [68]:
Friends='Lalita    '
x = Friends.strip('WW')#The strip() method removes any leading (spaces at the beginning) and trailing (spaces at the end) characters (space is the default leading character to remove)
print('My world',x)

My world Lalita

In [25]:
Friends='     Lalita'
x = Friends.lstrip()
print('My world',x)

My world Lalita

In [36]:
Friends='Lalita'
mytable = Friends.maketrans("Lal", "Raj","i")
print(Friends.translate(mytable))##The maketrans() method returns a mapping table that can
                                ##be used with the translate() method to replace specified 
                                ##characters.string.maketrans(x, y, z), z being value to delete

Rajta

In [38]:
stt='I love the world'
x = stt.partition("love")## splits the string value to before and after the value passed in the partition function
print(x)

('I ', 'love', ' the world')

In [47]:
stt='I love the world'
x = stt.rpartition("love")## splits the string value to before and after the value passed in the partition function
print(x)

('I ', 'love', ' the world')

In [39]:
Joint.replace('Chitra','Reuben')## replaces value

'Lalita Reuben Raji'

In [58]:
Al1='Round,alpha;bet;values;therein'
Al1.rsplit(';',3) #Split the string into a list with maximum 2 items:he rsplit() method 
                 #splits a string into a list, starting from the right.
                 #If no "max" is specified, this method will return the same as the split() method.

['Round,alpha', 'bet', 'values', 'therein']

In [59]:
Al1='Round,alpha;bet;values;therein'
Al1.split(';',3)

['Round,alpha', 'bet', 'values', 'therein']

In [62]:
Al1='Round,alpha;bet;values;therein'
Al1.splitlines(2)

['Round,alpha;bet;values;therein']

In [63]:
stt.startswith('I')##The startswith() method returns True if the string starts with the specified value, otherwise False.

True

In [69]:
Home_work_init.swapcase()#Make the lower case letters upper case and the upper case letters lower case:

'cREATE oWN vARIABLE'

In [75]:
#The zfill() method adds zeros (0) at the beginning of the string, 
#until it reaches the specified length.If the value of the len parameter
#is less than the length of the string, no filling is done.
Home_work_init.zfill(26)

'0000000Create Own Variable'

In [1]:
#Count words and characters in below string (excluding space):
mainString = 'Data Science 2021 batch'
len(mainString)

23

In [21]:
mainString = 'Data Science 2021 batch'
wordlist = mainString.split()
wordLen = len(wordlist)
print(wordLen)

4

In [22]:
len(mainString)

23

In [ ]:
1) Count words and characters in below string (excluding space):
mainString = 'Data Science 2021 batch'

In [ ]:
2) Extract mobile number from the given string :
mainString = 'My number is 8888888888'

In [ ]:
3) Extract email address :
mainString = 'My email is abc@g.com

In [ ]:
4) Fibonacci series for 10 numbers

In [ ]:
5) Remove a value from string by taking index from the user
example :
stringName = "Hello Participants 2020"
index = 2
output : "Helo Participants 2020"

In [ ]:
6) Write a program, which takes two inputs as ‘start’ and ‘end’ from the user, and 
you have to print prime numbers between the defined range and also the sum of all those
prime numbers too.¶

In [ ]:
7) Write a program which takes a string from the user and you 
have to check whether that string is palindrome or not.

In [ ]:
8) Write a program which takes 5 numbers as input from the user and you 
have to create a dictionary which stores those numbers as keys and their 
squared result as values of those keys.¶

In [ ]:
9) Write a program which takes a number from the user and the output 
should be the factorial of that number. 
Solve this question using a loop.

In [ ]:
10) Write a program which asks a user every time whether he wants to enter a number or not, 
if the user enters ‘yes’, then take an input and print the sum of all numbers that he has 
given till now, otherwise end the program.